RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(\w+)/?$ $1.php
RewriteRule ^(\w+)/(\w+)/?$ $1.php?dashboard=$2
RewriteRule ^(\w+)/(\w+)/(\w+)/?$ $1.php?dashboard=$2&$2=$3
